html, body, main {
    width: 100%;
    height:100%;
    margin: 0 auto;
}


footer {
    bottom: 5px;
    width: 100%;
    bottom: 1em;
    margin: 0;
    padding: 0;
    text-align: center; 
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
}

p, footer{
    color: black;
}

p, a, footer{
    font-family: 'Viaoda Libre', cursive;
    font-size: 20px;
}

.note {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

/* button {
    margin: -20px 10px 10px 10px;
    text-decoration: none;
    width: fit-content;
    border: 0.1px solid grey;
    font-family: 'Viaoda Libre', cursive;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    transition: top ease 1s;
}

button:hover {
    cursor: grab;
} */

.todoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: 3;
}

.todoEntry {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
}