html, body {
    margin: 0;
    background: #F0F0F0;
}


.simulation {
    top: 0;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: 0 auto;
}

table {
    background: white;
}

.world {
    margin: 0 auto;
}

.cell {
    width: 10px;
    height: 10px;
}


.displayBar {
    display: flex;
    justify-content: space-evenly; 
    width: fit-content;
    margin: 0 auto;
    align-items: center;
}

button {
    margin: -1.25em 0.25em 0.625em 0.25em !important;
    padding: 0.2em;
    text-decoration: none;
    border: 0.1px solid grey;
    color: black;
    background: white;
    font-family: 'Viaoda Libre', cursive;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    position: relative;
    transition: top ease 1s;
}

button:hover {
    top: -5px;
    cursor: grab;
    background: #90EE90;
    color: white;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover{
    text-decoration: underline;
}

footer {
    bottom: 5px;
    width: 100%;
    position: absolute;
    text-align: center; 
}

p {
    color: rgb(89, 88, 88);
}

p, a {
    font-family: 'Viaoda Libre', cursive;
}